
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Analytic Editor</title>
    <link rel='stylesheet' href='static/foundation.min.css'>
    <link rel='stylesheet' href='static/font-awesome.css'>
    <script src="static/jsoneditor.js"></script>
  </head>
  <body>
    <div class='row'>
      <div class='medium-12 columns'>
        <h1>Data Editor</h1>
      </div>
    </div>
    <div hidden id='recID'>${recID}</div>
    <div class='row'>
      <a href="/list"><button class='secondary tiny'>Record List</button></a>
    </div>
    <div class='row'>
      <div class='medium-12-columns'>
        <button id='save' class='tiny'>Save</button>
        <span id='valid_indicator' class='label'></span>
      </div>
    </div>
    <div class='row'>
      <div id='editor_holder' class='medium-12 columns'></div>
    </div>
  </body>
  <script>
   var start_data = ${datarec};
  </script>
  <script src="static/datahit-editor.js${dev}"></script>
</html>
